<!--Base HTML template to be displayed whenever a user visits a page on our site. Contains logic for the website title in the browser, as well as a navigation bar at the top of the page with the links to commonly-accessed pages -->
<!doctype html>
<html>

<head>
    <!-- Use a placeholder for the title, since the title variable value is unknown until runtime-->
    <!-- Use a jinja conditional to change title based on if it's present or not-->
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog!</title>
    {% endif %}
</head>

<body>
    <!--Navigation bar for commonly-accessed web pages -->
    <div>
        Microblog:
        <a href="{{ url_for('index')  }}">Home</a>
        <a href="{{ url_for('login')  }}">Login</a>
    </div>
    <hr>

    <!--Render any flashed messages from the flask backend as list items-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <!-- This is where each component of our site's derived templates' content can insert themselves-->
    {% block content %}{% endblock %}
</body>

</html>